.footer-info {
    background-color: $hero_bcg;
    padding-top: 60px;
    padding-bottom: 60px;
}

.container--main-footer {
    @media  screen and (max-width: 1199px) {
    text-align: center;
    }
    

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    }

    @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
}


.logo--footer {
    color: $secondary_akcent_color;
}

.add-full {
    margin-top: 20px;
}

.footer-contakt {
    display: block;

    @media screen and (max-width: 1199px) {
        margin-bottom: 60px;
    }

    &__item:not(:last-child) {
        margin-bottom: 8px;

    @media screen and (min-width: $desktop) {
    margin-bottom: 9px;
    }
    }

}

.footer-contakt__link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;

    transition: color 250ms $timing_function;

    &:hover,
    &:focus {
        color: $akcent_color;
    }
}

.footer-contakt__link--adr {
    color: $secondary_akcent_color;
}

.footer-contakt__link--person {
    color: rgba(255, 255, 255, 0.6);
}

.footer-social {
    @media screen and (min-width: $desktop) {
    margin-left: 70px;
    margin-right: auto;
    }
    
    &__list {
        display: flex;
        gap: 10px;
        justify-content: center;
        
        @media screen and (max-width: 767px) {
        margin-bottom: 60px;
        }
    }
}

.footer-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: $secondary_akcent_color;
}

.footer-social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    color: $secondary_akcent_color;
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms $timing_function;

    &:hover,
    &:focus {
        background-color: $akcent_color;
    }
}

.footer-social__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}



