.form-modal {
    margin-top: 12px
}

.form-field {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: $secondary_text_color;
}

.form-field:not(:last-child) {
    margin-bottom: 10px;
}

.form-field__label {
    margin-bottom: 4px;
}

.form-field:hover>.form-field__input,
.form-field:focus>.form-field__input {
    border: 1px solid $akcent_color;
}

.form-field:hover>.form-field__img,
.form-field:focus>.form-field__img {
    fill: $akcent_color;
}


.form-field__img {
    position: absolute;
    top: 50%;
    left: 15px;
    width: 18px;
    height: 18px;
    fill: $text_color;
    transition: fill 250ms $timing_function;
}

.form-field__input {
    width: 100%;
    height: 39px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 11px 12px;

    transition: border 250ms $timing_function;
}

.form-field--bottom {
    margin-bottom: 20px;
}


.form-field textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
}


.form-field__comment {
    height: 120px;
    padding: 12px 16px;
    resize: none;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);

    transition: border 250ms $timing_function;
}

.form-field:hover>.form-field__comment,
.form-field:focus>.form-field__comment {
    border: 1px solid $akcent_color;
}

.form-checkbox {
    margin-bottom: 30px;
}

.form-checkbox__label {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.form-checkbox__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    position: absolute;
}

.form-checkbox__icon {
    width: 16px;
    height: 15px;

    background-image: url(../images/check-border.svg);
    transition: background-image 250ms $timing_function;
}

.form-checkbox__input:checked+.form-checkbox__icon {
    border-color: $akcent_color;
    background-image: url(../images/check-plus.svg);
    background-origin: border-box;
}

.form-checkbox__text {
    font-weight: 400;
    line-height: 1.71;
    color: $secondary_text_color;
}

.form-checkbox__link {
    font-weight: 400;
    line-height: 1.71;
    color: $akcent_color;
}

.btn-submit {
    display: flex;
    padding: 10px 52px;
    margin: 0 auto;
    min-width: 200px;

    font-family: $primery_font;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;

    color: $secondary_akcent_color;
    background: $akcent_color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}