.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms $timing_function,
        box-shadow 250ms $timing_function;

    width: 450px;
    height: 609px;
    padding: 40px;

    @media screen and (min-width: $desktop) {
    width: 528px;
    height: 581px;
    }

    color: $text_color;
    background-color: $secondary_akcent_color;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.modal:hover,
.modal:focus {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__title {
    font-family: $primery_font;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: $text_color;
}

.btn-modal {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 8px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
}

.btn-modal__close {
    fill: $logo_color;
    transition: fill 250ms $timing_function;
}

.btn-modal__close:hover,
.btn-modal__close:focus {
    fill: $akcent_color;
}