.boxes {
    display: block;

    @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    }

    @media screen and (min-width: $desktop) {
        margin-left: -30px;
        margin-top: -30px;
    }
    


    &__top {

        @media screen and (max-width: 767px) {
        &:not(:first-child) {
        margin-top: 30px;
            }
        }

        
    @media screen and (min-width: $tablet) {
    flex-basis: calc(100% / 2 - 2 * 15px);
    margin: 15px;
    } 

    @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 6 * 15px) / 3);
    }
}
}

.boxes__card {
    display: block;

    
    transition: box-shadow 250ms $timing_function;

    &:hover,
    &:focus {
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}


.card-content {
    padding: 20px 24px;
    border: 1px solid $card_bcg;
    

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
    padding-bottom: 56px;
    }

    
    &__title {
        margin-bottom: 0;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: $text_color;
    }

    &__text {
        margin-bottom: 0;
        margin-top: 4px;
        font-size: 16px;
        line-height: 1.875;
        color: $secondary_text_color;
    }
}

.card-content--mix {
@media screen and (min-width: $tablet) {
        padding-bottom: 20px;
    }
}