.header {
    border-bottom: 1px solid $card_bcg;
    height: 60px;
    
}

.header-nav {
    display: flex;
    
}

.container--mine-nav {
    display: flex;
    align-items: center;
    margin-top: 11px;
}
