.compani-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;

    

    &__icon {
        width: 106px;
        height: 60px;
        fill: currentColor;
    }
}

.compani-list__item {
   flex-basis: calc(100% / 2 - 2 * 15px);
    margin: 15px;

    @media screen and (min-width: $tablet) {
    flex-basis: calc(100% / 3 - 2 * 15px);
    margin: 15px;
        }

    @media screen and (min-width: $desktop) {
    flex-basis: calc(100% / 6 - 2 * 15px);
    }
}

.compani-list__link {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px 51px;

    @media screen and (min-width: $desktop){
    width: 170px;
    height: 92px;
    }
    
    border: 1px solid #afb1b8;
    border-radius: 4px;
    color: $icon_color;

    transition: border-color 250ms $timing_function,
    color 250ms $timing_function;

    &:hover,
    &:focus {
        color: $akcent_color;
        border-color: $akcent_color;
    }
}