.item__icon {
    width: 270px;
    height: 120px;
    margin: 0;
    background-color: $secondary_bcg_color;
    border-radius: 4px;
    }
    
    .item__picture {
    width: 70px;
    height: 70px;
    
    }
    
    .title-three {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    text-transform: uppercase;
    text-align: center;
    
    &__text {
        line-height: 1.714;
        color: $secondary_text_color;
        }
    }