.section--team {
    background-color: $secondary_bcg_color;
    
}

.team {
    display: block;
    
    @media screen  and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    }

}

.team__thumb {
    @media screen and (max-width: 1199px) {
    width: 100%;
    }
}


.team__card {
    background-color: $secondary_akcent_color;
    box-shadow: $card_shadow;
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
        @media screen and (max-width: 767px) {
        margin-bottom: 30px;
            }
        }
    
        @media screen and (min-width: $tablet) {
        flex-basis: calc(100% / 2 - 2 * 15px);
        margin: 15px;
        }

        @media screen and (min-width: $desktop) {
        flex-basis: calc(100% / 4 - 2 * 15px);
        }
}

.team-content {
    padding-top: 30px;
    padding-bottom: 30px;

    &__title {
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.187;
        letter-spacing: 0.03em;
        text-align: center;
    }

    &__text {
        font-size: 16px;
        line-height: 1.187;
        letter-spacing: 0.03em;
        text-align: center;
        color: $secondary_text_color;
    }
}


