.social-team {
    display: flex;
    margin-top: 16px;
    justify-content: center;
    gap: 10px;

    &__icon {
        width: 20px;
        height: 20px;
        fill: currentColor;
    }
}

.social-team__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: $icon_color;

    transition: background-color 250ms $timing_function,
    color 250ms $timing_function;

    &:hover,
    &:focus {
        background-color: $akcent_color;
        color: $secondary_akcent_color;
    }

}

    