$text_color: #212121;
$secondary_text_color: #757575;
$primary_bcg_color: #ffffff;
$secondary_bcg_color: #f5f4fa;
$hero_bcg: #2f303a;
$akcent_color: #2196f3;
$secondary_akcent_color: #ffffff;
$card_bcg: #eeeeee;
$logo_color:  #000000;;
$icon_color: #afb1b8;

$primery_font: "Roboto", sans-serif;
$logo_font: "Raleway", sans-serif;

$card_shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

$timing_function: cubic-bezier(0.4, 0, 0.2, 1);


